.card {
  background: #eeeeee;
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin: 2rem auto 0;
  @media screen and (max-width:960px) {
      
  }
  @media screen and (max-width:520px) {
    width: 100%;
  }
}
.cardInner {
  display: flex;

  @media screen and (max-width:960px) {
      
  }
  @media screen and (max-width:520px) {
    display: block;
  }
}
.cardLeft {
  box-sizing: border-box;
  width: 50%;
  @media screen and (max-width:960px) {
      
  }
  @media screen and (max-width:520px) {
    width: 100%;
  }
}
.cardRight {
  box-sizing: border-box;
  width: 50%;
  @media screen and (max-width:960px) {
      
  }
  @media screen and (max-width:520px) {
    width: 100%;
  }
}
.cardRightImage {
  z-index: 1;
}
.cardRightTitle {
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 1rem ;
}
.cardRightText {
  margin: 1rem;
}
