@keyframes rotateSpinZAnime {
from {
    transform: rotateZ(0);
  }
to {
    transform: rotateZ(360deg);
  }
}
// 小刻みに動くタイプ
@keyframes rotateSpinTickAnime {
from {
    transform: rotateZ(45);
  }
to {
    transform: rotateZ(135deg);
  }
}
.main {
  height: auto;
  margin: 2rem auto;
  width: 80%;

  @media (max-width: 960px) {
    margin-top: 7.8rem;
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
  }
}
.mainTitle {
  font-size: 32px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}
.mainSubTitle {
  margin: 1rem 0 1rem 0;
  text-align: center;
}
.featuresTitle {
  border-bottom: solid 1px #333333;
  font-size: 24px;
  font-weight: bold;
  margin: 2rem 0;
}
.featuresSubTitle {
  font-size: 16px;
  margin: 2rem 0 4rem;
}
.featuresDescription {
  letter-spacing: 1.0;
  margin: 2rem 0 8rem;
}
.returnToTop {
  background-color: #eeeeee;
  border-radius: 32px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 0 auto 4rem;
  text-align: center;
  padding: 0.4rem;
  width: 20%;

  @media (max-width: 960px) {
    width: 40%;
    margin-bottom: 2rem;
  }
}
.next {
  background-color: #eeeeee;
  border-radius: 32px;
  font-weight: bold;
  margin: 2rem auto 2.4rem;
  text-align: center;
  width: 50%;
  max-width: 300px;
}
.nextInner {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 100%;
}
.nextInnerIn {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  color: #333;
  display: block;
  font-size: 14px;
  height: 50px;
  left: 0;
  letter-spacing: 0.1em;
  padding: 1rem;
  position: absolute;
  top: -5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 8rem;

  &:hover {
    box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
    left: 0;
    top: 0;
  }
  @media (max-width: 960px) {
    display: inline-block;
    padding: 1rem;
    width: 100%;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;

  @media (max-width: 960px) {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  @media (max-width: 520px) {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
.fontBord {
  font-weight: bold;
}
.stylistImage {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  overflow: hidden;
  position: relative;

  @media (max-width: 960px) {
    margin-bottom: 2rem;
  }
}
.rotate0 {
  animation: rotateSpinTickAnime 1s ease-in-out alternate infinite;
}
.rotate1 {
  animation: rotateSpinZAnime 28s ease-in-out alternate infinite;
}
.rotate2 {
  animation: rotateSpinZAnime 12s ease-in-out alternate infinite;
}
.rotate3 {
  animation: rotateSpinZAnime 24s ease-in-out alternate infinite;
}
.rotate4 {
  animation: rotateSpinZAnime 8s ease-in-out alternate infinite;
}
.rotate5 {
  animation: rotateSpinZAnime 20s ease-in-out alternate infinite;
}
.rotate6 {
  animation: rotateSpinZAnime 16s ease-in-out alternate infinite;
}
.rotate7 {
  animation: rotateSpinZAnime 32s ease-in-out alternate infinite;
}
.stylistCaption {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
	padding-top: 70%;

  @media (max-width: 520px) {
    padding-top: 40%;
  }
}
.stylistCaptionSub {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
	padding-top: 1%;
}
.stylistMask {
	width: 100%;
	height: 100%;
	position:	absolute;
	top: 0;
	left:	0;
	opacity: 0;	/* デフォルトは非表示 */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.stylistMask:hover {
	opacity:		1;	/* hoverした時に表示する */
}