.main {
  box-sizing: border-box;
  height: auto;
  margin: 0 auto 3rem;
  width: 90%;

  @media (max-width: 960px) {
    margin-bottom: 0;
    padding: 1rem;
    width: 100%;
  }
}
.mainTitle {
  font-size: 32px;
  font-weight: bold;
  margin: 2rem;
  text-align: center;

  @media (max-width: 960px) {
    font-size: 24px;
    margin: 1rem;
  }
}
.subTitle {
  margin: 1rem 0 4rem 0;
  text-align: center;
}
.area {
  // border: dotted 1px blue;
  margin: 0 auto 3rem;
  height: auto;
  width: 100%;

}
.item {
  margin-bottom: 2rem;
  text-align: center;
  width: 30%;

  @media (max-width: 960px) {
    padding: 1rem;
  }

  @media (max-width: 520px) {
    border: dotted 8px #eeeeee;
    padding: 1rem;
    width: 100%;
  }
}
.image {
  width: 100%;

  @media (max-width: 960px) {
    margin: 0 auto;
    width: 90%;
  }

  @media (max-width: 520px) {
    margin: 0 auto;
    width: 100%;
  }
}
.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}
// table„ÅÆcss
.table {
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.tableTr {
  height: auto;
  padding: 1rem;
  width: 100%;
}
.tableTh {
  background: #eeeeee;
  border: solid 1px #ccc;
  color: #333333;
  height: auto;
  padding: 1rem;
  width: 30%;
}
.tableTd {
  background-color: #fafafa;
  border: solid 1px #ccc;
  height: auto;
  text-align: center;
  padding: 1rem;
}
   
@media screen and (max-width: 960px) {
.menuTablLast .menuTableTd:last-child {
  border-bottom: solid 1px #ccc;
  width: 100%;
}
.menuTabl {
  width: 80%;
}
.menuTableTh,
.menuTableTd {
  border-bottom: none;
  display: block;
  text-align: center;
  width: 100%;
}
}
.detailUrl {
  color: #333333;
  background-color: #eeeeee;
  border-radius: 32px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  width: 30%;

  &:hover {
    color: aqua;
    background-color: #333333;
  }
  @media (max-width: 960px) {
    width: 80%;
    margin-bottom: 2rem;
  }
}
.next {
  background-color: #eeeeee;
  border-radius: 32px;
  font-weight: bold;
  margin: 2rem auto 2.4rem;
  text-align: center;
  width: 50%;
  max-width: 300px;
}
.nextInner {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 100%;
}
.nextInnerIn {
  align-items: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  color: #333;
  display: flex;
  font-size: 14px;
  height: 50px;
  justify-content: center;  
  left: 0;
  letter-spacing: 0.1em;
  position: absolute;
  top: -5px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  width: 100%;

  &:hover {
    box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
    left: 0;
    top: 0;
  }
}
.flex {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;

  @media (max-width: 960px) {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100%;
  }

  @media (max-width: 520px) {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 100%;
  }
}
.fontBord {
  font-weight: bold;
}
.stylistImage {
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));

  @media (max-width: 960px) {
    margin-bottom: 2rem;
  }
}
