.carousel {
  position: relative;
}
.carouselInfo {
  bottom: 3rem;
  left: 70%;
  margin-left: -70%;
  padding: 1rem;
  position: absolute;
  transition: all .5s ease-in-out;
  width: 100%;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 960px) {
    bottom: 1rem;
    font-size: 16px;
    padding: 0.8rem;
    width: 100%;
  }

  @media (max-width: 520px) {
    bottom: 0;
    font-size: 16px;
    padding: 0;
    width: 100%;
  }
}
// 次に進む、戻るボタンのスタイル
.control-next,
.control-prev {
  background-color: #f00; /* 背景色を赤に設定 */
  border-radius: 50%; /* ボタンを円形に */
  /* その他のスタイルをここに追加 */
}
// zoomanimationのcss
@keyframes animationZoom0 {
  100% { transform:scale(1.1)} 
}
@keyframes animationZoom1 {
  60% { transform:scale(1.1)} 
}
@keyframes animationZoom2 {
  40% { transform:scale(1.1)} 
}
.zoom {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.zoomImage0 {
  width: 100%;
  height: auto;
  animation: animationZoom0 16s ease-in-out alternate infinite;
}
.zoomImage1 {
  width: 100%;
  height: auto;
  animation: animationZoom1 16s ease-in-out alternate infinite;
}
.zoomImage2 {
  width: 100%;
  height: auto;
  animation: animationZoom2 16s ease-in-out alternate infinite;
}
