.carousel {
  position: relative;
}
.carouselInfo {
  background: linear-gradient(#fafafa, #333333);
  border-radius: 8px;
  bottom: 6rem;
  color: #333333;
  font-size: 32px;
  font-weight: bold;
  left: 70%;
  margin-left: -40%;
  opacity: 0.8;
  padding: 1rem;
  position: absolute;
  transition: all .5s ease-in-out;
  text-align: center;
  transition: opacity .35s ease-in-out;
  width: 40%;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 960px) {
    bottom: 3rem;
    font-size: 16px;
    padding: 0.8rem;
    width: 40%;
  }

  @media (max-width: 520px) {
    bottom: 2rem;
    font-size: 16px;
    padding: 0.4rem;
    width: 40%;
  }
}
// zoomanimationのcss
@keyframes animationZoom0 {
  100% { transform:scale(1.1)} 
}
@keyframes animationZoom1 {
  60% { transform:scale(1.1)} 
}
@keyframes animationZoom2 {
  40% { transform:scale(1.1)} 
}
.zoom {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.zoomImage0 {
  width: 100%;
  height: auto;
  animation: animationZoom0 16s ease-in-out alternate infinite;
}
.zoomImage1 {
  width: 100%;
  height: auto;
  animation: animationZoom1 16s ease-in-out alternate infinite;
}
.zoomImage2 {
  width: 100%;
  height: auto;
  animation: animationZoom2 16s ease-in-out alternate infinite;
}
