/* バーガーボタンの位置とサイズ */
.burgerButton {
  position: fixed;
  width: 3rem;
  height: 3rem;
  top: 1rem;
  left: 1rem;
}

/* バーガボタンのバーのスタイル */
.burgerBars {
  background: #373a47;
}

/* バーガーボタンのホバー */
.bm-burger-bars-hover {
  background: #a90000;
}

/* クロスボタンの位置とサイズ */
.crossButton {
  right: 1rem;
  top: 1rem;
}

/* クロスボタンのカラー・形状 */
.cross {

}

/*
サイドバーのラッパースタイル - アニメーションが壊れる可能性があるため触るときは注意
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* サイドバーのスタイル */
.burgerMenu {
  background: #373a47;
  font-size: 1rem;
}

/* bubbleやelasticで必要なモーフの形状 */
.morphShape {
  fill: #373a47;
}

/* メニューリストのラッパースタイル*/
.itemList {
  color: #b8b7ad;
  margin: 0 auto;
}

/* 個々のリストのスタイル */
.items {
  align-items: center;
  display: inline-block;
  list-style: none;
  margin: 5rem 0 0 5rem;
  width: 100%;

  @media (max-width: 960px) {
    margin: 5rem 0 0 3rem;
  }

  @media (max-width: 520px) {
    
  }
}
.itemsBrock {
  margin-bottom: 3rem;
}
.itemsTitle {
  font-size: 24px;
  font-weight: bold;
}
.itemsSubTitle {
  font-size: 16px;
}
/* オーバーレイ(overlay)のスタイリング */
.overlay {
  background: rgba(0, 0, 0, 0.3);
}