$bgColor : #eeeeee;

.notice {
  display: none;

  @media screen and (max-width:960px) {
    color: #fafafa;
    display: block;
    padding-bottom: 6rem;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    z-index: 3;
  }
}
.iconButton {
  display: none;

  &:hover {
    color: aqua;
    opacity: 0.8;
  }

  @media screen and (max-width:960px) {
    display: block;
    margin: 0 auto;
  }
}
.flexA {
  display: flex;
  justify-content: space-around;
}
.flexE {
  display: flex;
  justify-content: space-evenly;
}
.poyoyon {
  animation: poyoyon 4.0s infinite;
  opacity: 1;
}
@keyframes poyoyon {
  0%, 40% {
    transform: skew(0deg, 0deg);
  }
  5% {
    transform: skew(5deg, 5deg);
  }
  10% {
    transform: skew(-4deg, -4deg);
  }
  15% {
    transform: skew(3deg, 3deg);
  }
  20% {
    transform: skew(-2deg, -2deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  30% {
    transform: skew(-0.6deg, -0.6deg);
  }
  35% {
    transform: skew(0.3deg, 0.3deg);
  }
}
.box {
  padding-top: 3rem;
}
.inner {
  left: -30px;
  position: relative;
}
.innerMain_00 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_01 {
  background-image: url("/main_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_02 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_03 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_04 {
  background-image: url("/media/gear_00.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_05 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_06 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_07 {
  background-image: url("/media/gear_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_08 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_09 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_10 {
  background-image: url("/media/gear_02.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_11 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_12 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_13 {
  background-image: url("/media/gear_03.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_14 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
