$bgColor : #eeeeee;

// 縦に戻るアニメーション
.puyon {
  animation: puyon 3.0s ease-in-out alternate infinite;
}
@keyframes puyon {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  40%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
  50%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  60%  { transform: scale(0.95, 1.05) translate(0%, -3%); }
  70%  { transform: scale(1.05, 0.95) translate(0%, 3%); }
  80%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
// プルプル動く
.purupuru {
  animation: purupuru 2.0s ease-in-out alternate infinite;
}
@keyframes purupuru {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  20%  { transform: scale(1.0, 1.06) translate(-5%, -4%) skew(6deg, 0deg); }
  50%  { transform: scale(1.0, 0.94) translate(5%, 4%) skew(-6deg, 0deg); }
  65%  { transform: scale(1.0, 1.03) translate(2%, -2%) skew(-3deg, 0deg); }
  80%  { transform: scale(1.0, 0.97) translate(-2%, 2%) skew(3deg, 0deg); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
// 横に戻るアニメーション
.pururun {
  animation: pururun 5.0s ease-in-out alternate infinite;
}
@keyframes pururun {
0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
10%  { transform: scale(1.0, 1.0) translate(10%, 0%) skew(-10deg, 0deg); }
60%  { transform: scale(1.0, 1.0) translate(20%, 0%) skew(-20deg, 0deg); }
70%  { transform: scale(1.0, 1.0) translate(-15%, 0%) skew(15deg, 0deg); }
80%  { transform: scale(1.0, 1.0) translate(15%, 0%) skew(-15deg, 0deg); }
80%  { transform: scale(1.0, 1.0) translate(5%, 0%) skew(-5deg, 0deg); }
90%  { transform: scale(1.0, 1.0) translate(-5%, 0%) skew(5deg, 0deg); }
100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
// 伸び縮みするアニメーション
.purun {
  animation: purun 2.0s ease-in-out alternate infinite;
}
@keyframes purun {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
  30%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
  50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
  70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
// はねるアニメーション
.poyooon {
  animation: poyooon 4.0s ease-in-out alternate infinite;
}
@keyframes poyooon {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  10%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  40%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
  50%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
  60%  { transform: scale(0.9, 1.2) translate(0%, -100%); }
  75%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
  85%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
.notice {
  display: none;

  @media screen and (max-width:960px) {
    color: #fafafa;
    display: block;
    padding-bottom: 6rem;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    z-index: 3;
  }
}
.iconButton {
  display: none;

  &:hover {
    color: aqua;
    opacity: 0.8;
  }

  @media screen and (max-width:960px) {
    display: block;
    margin: 0 auto;
  }
}
.flexA {
  display: flex;
  justify-content: space-around;
}
.flexE {
  display: flex;
  justify-content: space-evenly;
}
.poyoyon {
  animation: poyoyon 4.0s infinite;
  opacity: 1;
}
@keyframes poyoyon {
  0%, 40% {
    transform: skew(0deg, 0deg);
  }
  5% {
    transform: skew(5deg, 5deg);
  }
  10% {
    transform: skew(-4deg, -4deg);
  }
  15% {
    transform: skew(3deg, 3deg);
  }
  20% {
    transform: skew(-2deg, -2deg);
  }
  25% {
    transform: skew(1deg, 1deg);
  }
  30% {
    transform: skew(-0.6deg, -0.6deg);
  }
  35% {
    transform: skew(0.3deg, 0.3deg);
  }
}
.box {
  padding-top: 3rem;
}
.inner {
  left: -30px;
  position: relative;
}
.innerMain_00 {
  background-color: #cb6e2d;
  border: solid 4px #cbaf82;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_01 {
  background-image: url("/main_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_02 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_03 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_04 {
  background-image: url("/media/Me_00.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_05 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_06 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_07 {
  background-image: url("/media/gallery.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_08 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_09 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_10 {
  background-image: url("/media/vision_00.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_11 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_12 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  filter: drop-shadow(2px 4px 4px rgba(0,0,0,0.2));
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.innerMain_13 {
  background-image: url("/media/contact_00.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 250px;
  bottom: 1rem;
  font-weight: bold;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 2;
}
.innerMain_14 {
  background-color: #cb6e2d;
  border: solid 4px #fdcb50;
  border-radius: 250px;
  bottom: 0;
  color: #f8cd8a;
  font-size: 10px;
  font-weight: bold;
  height: auto;
  padding: 0.1rem 0.4rem;
  position: absolute;
  width: 60px;
  z-index: 2;
}
